.container {
    width: 100%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    
}

.categories_select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.select option:nth-child(even) {
    background-color: rgb(145, 150, 148);

}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 30rem;
    border: 1px solid black;
    overflow:scroll  ;
}

.product_element {
    display: flex;
    flex-direction: column;
    width: 40%;
}