
.cart_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.cart_infor{
    width: 100%;
    border: 1px solid gray;
}

.cart_list {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checked_out {
    color: brown;
}

.active {
    color: blue;
}

.cart_detail{
    margin-top: 3rem;
    width: 65%;
    
}

.variant_list {
     height: 35rem;
    border: 1px solid rgb(204, 121, 121);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.variants {
   border-bottom: 1px solid red;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.create_button {
    border: 1px solid gray;
}


.quantity_update {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input {
    width: 3rem;
    height: fit-content;
    font-size: x-large;

}
.cart_footer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart_footer > h3 {
    color: red;
}
.cart_footer > button {
    border: 1px solid blue;
    font-size: 1.5rem;
    font-weight: 900;
}