.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

.nav_component {
    margin: 0 1rem ;
    color: dodgerblue;
}

.active_component{

     color: red;
     text-decoration: underline;
}
